.App {
  text-align: center;
}
/* 282727 */
.nav{
  background-color: #3a3939;
  height: 45px;
  padding: 17px;
}
.link{
  margin-right: 15px;
  margin-left: 10px;
  color: whitesmoke;
}
.footer{
  background-color: #3a3939;
  color: whitesmoke;
  margin-top: 380px;
  height: 50px;
  border:solid;
  border-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
